<div class="container-fluid text-center d-flex justify-content-center align-items-center flex-column vh-100 bg-pink">
  <img src="https://cdn3d.iconscout.com/3d/premium/thumb/classic-house-5560713-4632489.png" height=200>
    <h1 class="my-3"><strong>Listings</strong></h1>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-4">
          <div class="bg-white shadow rounded-4 p-4">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Rooms</th>
                <th scope="col">Details</th>
              </tr>
            </thead>
            <tbody>
              <% @listings.each do |l| %>
              <tr>
                <th scope="row"><%= l.id %></th>
                <td><%= l.num_rooms %></td>
                <td><%= link_to "More Info", listing_path(l.id), class:"btn btn-pink" %></td>
              </tr>
               <% end %>
            <tbody>
          </table>
          </div>
        </div>
      </div>
    </div>     
   
    <%= link_to "Back", root_path, class:"btn btn-light mt-4" %>
  </div>