<div class="container-fluid text-center d-flex justify-content-center align-items-center flex-column vh-100 bg-pink">
<img src="https://cdn3d.iconscout.com/3d/premium/thumb/classic-house-5560713-4632489.png" height=200>
  <h1><strong>HostnDrive</strong></h1>
  <h5 class="m-0">The best <strong>listing rentals management company</strong></h5>
  <p class="m-0">- for<em>a technical test</em> by <a href="https://github.com/laura-latuillerie/" target="_blank">Laura Latuillerie</a></p>
    <div class="d-flex">
    <%= link_to "Listings", listings_path, class:"btn btn-pink mt-4" %>
  </div>
</div>
