// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "buttons";

body{
  color: $brown;
}

a{
  text-decoration: none;
  color: brown;
}

.bg-pink{
  background-color: $light-pink;
}